.ios .navbar,
.ios .toolbar {
  background: #fff;
}
.ios .tabbar-labels a.link {
  padding-top: 1px;
}
.ios .toolbar a.link {
  line-height: 4px;
}
.ios .tabbar-labels a.link i + span {
  font-size: .24rem;
}
.searchbar-disable-button-in {
  display: block !important;
  margin-right: 0;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.searchbar-disable-button-out {
  display: block !important;
  margin-right: -54px;
}
