@public_bg:#fff;
@mainRed:#EA453D;
@bigBtnW:6rem;
@bigBtnH:.8rem;
@redBgText:#fff;
@bigBtnTextSize:.24rem;
@tipTextColor:#707070;
@defaultTipColor:#A1A1A1;
@defaultInputColor:#1B1B1B;
@defaultBg:#E9E9E9;
@linkTipColor:#8C8C8C;
@borderColor:#D8D8D8;

*{
    font-size: .24rem;
}
.rt{
    float: right;
}
.lt{
    float: left;
}
.clear{
    clear: both;
}
.clear:before {
    display: table;
    content: "";
}
.clear:after{
    display: block;
    clear: both;
    content: "";

}
.ios .navbar,.ios .toolbar{
    background: @public_bg;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
// .ios .tabbar-labels a.link{
//     padding-top: 1px;
// }
// .ios .toolbar a.link {
//     line-height: 4px;
// }
// .ios .tabbar-labels a.link i + span{
//     font-size: .24rem;
// }
// .ios .searchbar-disable-button{
//     display: block;
//     margin-right: -72px;
// }
// .ios .searchbar-inner {
//     padding: 0 8px;
//     overflow: hidden;
// }
// .searchbar-disable-button-in{
//     display: block !important;
//     margin-right: 0 !important;
//     -webkit-transition-duration: 300ms;
//     transition-duration: 300ms;
// }
// .searchbar-disable-button-out{
//     margin-right: -72px;
// }
// .ios .block {
//     margin: 10px 0;
// }
// .banner .swiper-slide {
//     height: 4rem;
//     overflow: hidden;
// }
// .flash-banner .swiper-slide,#activity-banner .swiper-slide {
//     height: 2rem;
//     overflow: hidden;
// }
// .product-list .row .col-50{
//     height: 3rem;
//     overflow: hidden;
// }
// .row {
//     margin: .2rem 0px;
// }
// .cart-list .item-media {
//     height: 2rem;
//     width: 20%;
// }
// .ios .navbar ~ *:not(.no-navbar) .page-content{
//     padding-top: 30px;
// }
// .ios .swiper-pagination-bullet-active{
//     background: #fff;
// }
// .statusbar-overlay {
//     background: pink;
// }
// .ios .statusbar {
//     background: pink;
// }


// login
.ios .login-screen-content .login-screen-title{
    width: 4.7rem;
    height: 1.54rem;
    margin: 1.24rem auto 2.68rem;
}
#label_name,#label_password{
    font-size: .2rem;
    color: @defaultTipColor;
    position: absolute;
}
.login_form{
    width: 6.14rem;
    margin: 0 auto;
}
.login_form>div{
    position: relative;
    padding: .1rem 0;
    box-sizing: border-box;
}
.login_tip{
    color: @mainRed;
    padding-left: .2rem;
    padding-right: .2rem;
    font-size: .2rem;
}
.ios .login_form input[type="text"],.ios .login_form input[type="password"]{
    font-size: .24rem;
    height: .52rem;
    width: 100%;
    color: @defaultInputColor;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @defaultInputColor;
}
.ios .login_form .item-input-wrap{
    margin: 0;
}
.ios .login_form img {
    width: .32rem;
    height: .32rem;
    position: absolute;
    right: .12rem;
    bottom: .05rem;
}
.forget_link {
    width: 6.14rem;
    margin: .2rem auto;
    text-align: right;
    padding-right: .2rem;
}
.forget_link a span {
    color: @tipTextColor;
    font-size: .2rem;
}
li#sign_in a{
    width: @bigBtnW;
    height: @bigBtnH;
    background: @mainRed;
    line-height: @bigBtnH;
    color: @redBgText;
    font-size: @bigBtnTextSize;
    margin: 1rem auto .4rem;
    padding: 0;
}
.way_tip span {
    display: inline-block;
    width: 30%;
    height: 1px;
    background: #707070;
    position: relative;
    top: 0.2rem;
}
p.way_tip {
    width: 6rem;
    margin: 0 auto;
}
.login-screen-content .list{
    width: auto;
}
.login-screen-content .login-screen-title, .login-screen-content .list, .login-screen-content .block, .login-screen-content .block-footer, .login-screen-content .block-header{
    max-width: unset;
}
.block-footer p:first-child:last-child{
    color: @tipTextColor;
    font-size: @bigBtnTextSize;
    margin-bottom: .3rem;
}
.login_way_box img{
    width: .8rem;
    height: .8rem;
    margin: .3rem .3rem .6rem;
}
.new_customer_link{
    color: @tipTextColor;
    font-size: @bigBtnTextSize;
}
.new_customer_link a span{
    color: @mainRed;
}

// register
div#register-screen .page-content {
    background: #fff;
    position: relative;
}
.re_head{
    position: absolute;
    top: 0;
    left: 0;
    background: @mainRed;
    color: #fff;
    text-align: center;
    font-size: .32rem;
    width: 100%;
    height: .88rem;
    line-height: .88rem;
}
.re_head img {
    width: .48rem;
    height: .48rem;
    position: absolute;
    left: .1rem;
    bottom: .18rem;
}
.re_body{
    width: 6rem;
    margin: 0 auto;
}
.re_input{
    margin: 1.6rem 0 1.2rem;
}
.re_input>div{
    margin: .2rem 0;
    position: relative;
}
.re_input>div>div{
    position: relative;
}
.re_input>div input{
    width: 100%;
    margin: .2rem 0 .1rem;
    color: @defaultInputColor;
    font-size: .24rem;
    height:.52rem;
    border-bottom: 1px solid @tipTextColor;
}
.re_input>div span{
    font-size: .2rem;
    color: @defaultTipColor;
}
.re_input>div img{
    width: .32rem;
    height: .32rem;
    position: absolute;
    bottom: .03rem;
    right: .08rem;
}
.re_input>div p{
    font-size: .2rem;
    color: @mainRed;
    margin: 0;
}
.re_bottom .re-complete{
    display: block;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    margin-bottom: 1.1rem;
    font-size: .24rem;
    background: @mainRed;
}
.re_bottom .re-complete span{
    color: #fff;
}
.re_bottom>div{
    font-size: .24rem;
    color: @defaultInputColor;
    text-align: center;
}

.re_bottom a span{
    color: @mainRed;
}


// tip
.tip{
    width: 4.56rem;
    height: 1.2rem;
    background: rgba(27,27, 27, 70%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20000;
    border-radius: .1rem;
    padding: .2rem;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    display: none;
}
.tip .text{
    color: #fff;
    font-size: .24rem;
    text-align: center;
    margin-top: .1rem;
}

// reset password
.rp_nav{
background:@mainRed;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: .88rem;
color: #fff;
text-align: center;
line-height: .88rem;
font-size: .24rem;
}
.rp_nav a{
display: inline-block;
width: .48rem;
height: .48rem;
position: absolute;
bottom: .18rem;
left: .1rem;
background: url('../../static/img/nav_btn_back.png');
background-size:cover; 
}
.rp_body{
    background: #fff;
    overflow: auto;
    height: 100%;
}
// .rp_top{
//     margin-top: .88rem;
//     width: 100%;
//     height: .88rem;
//     background: #F1F1F1;
//     line-height: .88rem;
//     display: flex;
//     justify-content: space-around;
//     margin-bottom: .52rem;
//     overflow: hidden;
// }
// .rp_top span{
//     color: @defaultInputColor;
//     font-size: .24rem;
//     position: relative;
//     cursor: pointer;
// }
// .rp_top span div{
//     width: 1rem;
//     height: 1rem;
//     background: #fff;
//     position: absolute;
//     top: .85rem;
//     left: -0.4rem;
//     transform:rotate(66deg);
//     -ms-transform:rotate(66deg); 	/* IE 9 */
//     -moz-transform:rotate(66deg); 	/* Firefox */
//     -webkit-transform:rotate(66deg); /* Safari 和 Chrome */
//     -o-transform:rotate(66deg); 	/* Opera */
// }
// .rp_top span div.rp_phone_deg{
//     left: .01rem;
// }
.rp_bottom{
    width: 6rem;
    margin: 0 auto;
}
.rp_bottom>div{
    margin: .2rem 0;
    position: relative;
}
.rp_bottom > div span{
    color: @defaultTipColor;
}

.rp_bottom>div div div{
    width: 3rem;
    position: relative;
}
.rp_bottom > div div img{
    width:.28rem;
    height: .28rem;
    position: absolute;
    right: .1rem;
    bottom: .1rem;
}
.rp_bottom>div>div{
    border-bottom: 1px solid @defaultInputColor;
    margin-top: .2rem;
    position: relative;
}
.rp_bottom>div>div input{
    width: 100%;
    display: inline-block;
    margin-bottom: .1rem;
}
.rp_bottom>div>div input.rp_code_input{
    width: 3rem;
}
.rp_bottom > div span.rp_send{
    display: inline-block;
    width: 2.1rem;
    height: .52rem;background: @mainRed;
    color: #fff;
    text-align: center;
    line-height: .52rem;
    position: absolute;
    right: 0;
    bottom: .1rem;
    font-size: .2rem;
}
.rp_submit{
    width: 6rem;
    height: .8rem;
    background: #EA453D;
    color: #fff !important;
    margin: 1rem auto 0;
    display: inline-block;
    text-align: center;
    line-height: .8rem;
}
.rp_phone {
    margin-top: 1.2rem;
}
// .rp_email{
//     width: 6rem;
//     margin: 0 auto;
// }
// .rp_email_box{
//     margin-top: .52rem;
// }
// .rp_email_box>div{
//     border-bottom: 1px solid @defaultInputColor;
//     margin-bottom: .2rem;
// }
// .rp_email_box>div input{
//     margin:.2rem 0 .1rem;
// }

// home
.search{
    width: 7rem;
    height: .56rem;
    margin:0 auto;
    border-radius: .28rem;
    background: @defaultBg;
    text-align: center;
    line-height: .56rem;
    position: relative;
    top: .16rem;
    transition-duration: 300ms;
}
.search.flash{
    display: inline-block;
    width: 6.52rem;
}
.search.active{
    width: 6.1rem;
}
.search div {
    width: 90%;
    height: .56rem;
    text-align: center;
    line-height: .56rem;
    display: inline-block;
}
.search div input{
    width: 40%;
    height: 100%;
    display: inline-block;
    text-align: center;
    transition-duration:300ms; 
}
.search div input.focus{
    width: 94%;
    text-align: left;
}
.search div img,.search img{
    width: 4%;
    height: .28rem;
    vertical-align: sub;
}
.search img.hs_del_text{
    width: .32rem;
    height: .32rem;
}
.search_box{
    position: fixed;
    top: 0;
    background: #fff;
    height: .88rem;
    line-height: .88rem;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid @borderColor;
}
.search_box>span.hs_cancle {
    position: absolute;
    right: -1rem;
    top: 0;
    transition-duration: 300ms;
    color: @tipTextColor;
}
.search_box>span.hs_cancle.active{
    right: .24rem;
}
.search_history{
    background: #fff;
    height: 100%;
    // display: none;
}
.search_history div p img{
    width: .48rem;
    height: .48rem;
    vertical-align: middle;
    margin-right: .2rem;
}
.s_hot ,.s_mark{
    margin: 1.2rem .24rem 0;
}
.s_hot ,.s_mark{
    color: @linkTipColor;
}
.search_history div div span{
    display: inline-block;
    max-width: 6rem;
    min-width: 1rem;
    height: .44rem;
    box-sizing: border-box;
    line-height: .44rem;
    text-align: center;
    padding: 0 .1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: .2rem .2rem 0;
    border-radius: .08rem;
    border: 1px solid @defaultInputColor;
}
// home content
// .swiper-container{
//     height: 3.2rem;
// }
.home_nav{
    padding: .3rem;
    box-sizing: border-box;
    background: #fff;
}
.home_nav>div{
    display: flex;
    justify-content: space-around;
}
.home_nav>div:first-child{
    margin-bottom: .2rem;
}
.home_nav div div{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.home_nav div div p{
    margin-top: .15rem;
    font-size: .12rem;
    color: @tipTextColor;
}
.home_nav div div img{
    width: .8rem;
    height: .8rem;
}
// home flash
.home_flash._block {
    padding: .24rem;
    box-sizing: border-box;
    background: #fff;
}
.flash_time{
    margin-left: .1rem;
}
.flash_title{
    margin-bottom: .24rem;
}
.flash_title .title_tip{
    font-size: .24rem;
    color: @defaultInputColor;
}
.home_flash span{
    font-size: .18rem;
}
.flash_title .flash_time span{
    background: @defaultInputColor;
    color: #fff;
    display: inline-block;
    width: .32rem;
    height: .32rem;
    border-radius: .05rem;
    text-align: center;
    line-height: .32rem;
}
.flash_more{
    color: @linkTipColor;
}  
.flash_more img{
    width: .32rem;
    height: .32rem;
}
.flash_price {
    margin: .2rem 0 0.1rem;
    line-height: .24rem;
}
.flash_banner .flash_item{
    width: 1.96rem;
    height: 3.28rem;
}
.flash_banner .flash_item a img {
    width: 1.96rem;
    height: 1.96rem;
}
.flash_banner .flash_item .item_itro{
    margin: .2rem 0;
}
.flash_banner .flash_item .item_itro p{
    font-size: .18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: @linkTipColor;
}
.flash_banner .flash_item .item_itro .flash_price .sold_price span{
    color: @mainRed;
    font-size: .24rem;
}
.flash_banner .flash_item .item_itro .flash_price .sold_price span:first-child{
    font-size: .18rem;
}
.flash_banner .flash_item .item_itro .flash_price .origin_price{
    color: @linkTipColor;
    font-size: .18rem;
    text-decoration: line-through;
    margin-left: .1rem;
}
.flash_banner .flash_item .item_itro .flash_progress span._sold{
    color: @linkTipColor;
    font-size: .16rem;
}
.flash_banner .flash_item .item_itro .flash_progress span.progress_box{
    display: inline-block;
    width: 1.3rem;
    height: .16rem;
    border-radius: .8rem;
    border: 1px solid @linkTipColor;
    position: relative;
    top: .04rem;
}
.flash_banner .flash_item .item_itro .flash_progress span.progress_box span{
    display: inline-block;
    width: 60%;
    height: .16rem;
    border-radius: .8rem;
    background: -o-linear-gradient(left,#EA453D,#EE8E3A);
    background: -moz-linear-gradient(left,#EA453D,#EE8E3A);
    background:-webkit-linear-gradient(left,#EA453D,#EE8E3A);
    position: absolute;
}
.flash_banner.swiper-container {
    height: 3.38rem;
}

// home product1
.home_product .title{
    padding: .2rem;
    box-sizing: border-box;
    background: #fff;
}
.home_product .title div{
    background: url('../../static/img/women_title.png') no-repeat center ;
    font-size: .24rem;
    color: @defaultInputColor;
    font-weight: bold;
    text-align: center;
    height: .42rem;
    width: 1.78rem;
    background-size: contain;
    margin: 0 auto;
}
.home_product.second .title div,.home_product.third .title div{
    width: .89rem;
}
.home_product .title p{
    font-size: .2rem;
    color: @defaultInputColor;
    text-align: center;
    margin-top: .1rem;
}
.home_product .banner_img{
    height: 2.8rem;
}

// home product
.product_banner .container{
    padding: .2rem .2rem .2rem .24rem;
    width: 2.68rem;
}
.pro_intro {
    background: #fff;
    padding: 0 .1rem;
    box-sizing: border-box;
}
.product_banner .container .pro_img{
    width: 2.68rem;
    height: 2.68rem;
}
.product_banner .container .price{
    margin: .2rem 0 .1rem;
}
.product_banner .container .price .sold_price span{
    font-size: .12rem;
    color: @mainRed;

}
.product_banner .container .price .sold_price span:last-child{
    font-size: .24rem;
}
.product_banner .container .price .origin_price{
    font-size: .12rem;
    color: @linkTipColor;
    text-decoration: line-through;
}
.product_banner .container .pro_title{
    font-size: .2rem;
    color: @linkTipColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product_banner .container .good_star div {
    display: inline-block;
    margin: .2rem 0;
}
.product_banner .container .good_star div img{
    width: .2rem;
    height: .2rem;
}
.product_banner .container .good_star span{
    font-size: .14rem;
}

// home recommend
.home_recommend .title{
    text-align: center;
}
.home_recommend .title span{
    color: @defaultInputColor;
}
.home_recommend .title .dian{
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    background: -moz-linear-gradient(top,#EA453D,#EE8E3A);
    background: -o-linear-gradient(top,#EA453D,#EE8E3A);
    background: -webkit-linear-gradient(top,#EA453D,#EE8E3A);
    position: relative;
    top: -0.04rem;
}
.home_recommend ul{
    padding: 0;
    text-align: center;
    margin-bottom: 1.06rem;
    margin-top: .12rem;
}
.home_recommend ul li{
    display: inline-block;
    margin: .08rem .04rem;
}
.home_recommend .re_img{
    width: 3.5rem;
    height: 3.5rem;
    // margin: 0 auto;
}
.home_recommend .re_intro{
    padding: .2rem .1rem;
    box-sizing: border-box;
    background: #fff;
    width: 3.5rem;
    text-align: left;
}
.home_recommend .re_intro .price .sold_price span{
    color: @defaultInputColor;
    font-size: .18rem;
}
.home_recommend .re_intro .price .sold_price span:last-child{
    font-size: .24rem;
    font-weight: bold;
}
.home_recommend .re_intro .price .origin_price{
    font-size: .18rem;
    text-decoration:line-through;
    color: @linkTipColor;
}
.home_recommend .re_intro .re_title{
    font-size: .2rem;
    color: @linkTipColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: .2rem 0;
}
.home_recommend .re_intro .re_star div{
    display: inline-block;

}
.home_recommend .re_intro .re_star div img{
    width: .2rem;
    height: .2rem;
}
.home_recommend .re_intro .re_star span{
    font-size: .14rem;
}
// home bottom
.bottom{
    display: flex;
    justify-content: space-around;
    background: #fff;
    height: .96rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .08rem;
    box-sizing: border-box;
    z-index: 100;
    border-top: 1px solid @borderColor;
}
.bottom .bottom_item{
    display: inline-block;
    text-align: center;
    text-align: -webkit-center;
}
.bottom .bottom_item div{
    width: .56rem;
    height: .56rem;
}
.bottom .bottom_item.active span{
    color: @defaultInputColor;
}
.bottom .bottom_item span{
    color: @tipTextColor;
    font-size: .14rem;
}

// flash
.search_box.hs .back,.back{
    width: .48rem;
    height: .48rem;
    display: inline-block;
    // background: url('../../static/img/btn_more.png') no-repeat center;
    background-size:contain; 
    margin: .2rem .11rem 0 .11rem;
    // transform: scale(-1,1);
}
.back img{
    vertical-align: top;
}
.content.flash .title{
    background: #fff;
    padding: .2rem .24rem;
    box-sizing: border-box;
}
.content.flash .title p{
    margin-top: .1rem;
    font-size: .2rem;
}
.flash_product .title{
    background: #fff;
    padding: .2rem .24rem;
    box-sizing: border-box;
    color: @defaultInputColor;
}
.flash_product .title .select{
    width: .32rem;
    height: .32rem;
    margin-left: .12rem;
    position: relative;
}
.flash_product .title .select span{
    display: inline-block;
    width: 100%;
    height: .16rem;
    position: absolute;
    top: 0;
    background: url('../../static/img/btn_price_up_active.png') no-repeat center;
    background-size: contain;
}
.flash_product .title .select span:last-child{
    background: url('../../static/img/btn_price_down.png') no-repeat center;
    top: .16rem;
    bottom: 0;
    background-size: contain;
}
.flash_product.home_recommend ul{
    margin-bottom: .2rem;
}
.flash_product .flash_title{
    padding: .4rem 0;
    box-sizing: border-box;
    text-align: center;
}
.flash_product .flash_title div{
    margin-top: .2rem;
}
.flash_product .flash_title p{
    color: @defaultInputColor;
}
.flash_product .flash_title div span{
    display: inline-block;
    width: .64rem;
    height: .64rem;
    background: @defaultInputColor;
    text-align: center;
    line-height: .64rem;
    border-radius: .08rem;
    color: #EE8E3A;
    margin: 0 .2rem;
}

// details common
.detail .top{
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 100;
}
.detail .top .nav{
    width: 100%;
    height: .88rem;
    background: #fff;
    line-height: .88rem;
}
.detail .top .nav .back{
    width: .68rem;
    height: .68rem;
    margin: 0.1rem 0.2rem .1rem .02rem;
    background: none;
}
.detail .top .heart_icon{
    margin-right: .32rem;
}
.detail .top .nav .share_icon,.detail .top .heart_icon{
    display: inline-block;
    width: .48rem;
    height: .48rem;
    margin-left: .32rem;
    cursor: pointer;
}
.detail .top .pro{
    padding: .2rem .24rem;
    box-sizing: border-box;
    background: #fff;
}
.detail .top .pro img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
}
.detail .top .pro div{
    width: 5.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: .4rem;
}
.detail .top .pro p{
    font-size: .2rem;
}
.nav_fixed{
    border-bottom: 1px solid @borderColor;
}
.detail .action_icon{
    width: 100%;
    position: fixed;
    top: 0;
    height: .88rem;
    z-index: 100;
}
.detail .action_icon .back{
    width:.67rem;
    height: .68rem;
    margin-left: .02rem;
    margin-top: .1rem;
}
.detail .action_icon .share_heart{
    display: inline-block;
    width: 1.6rem;
    height: .64rem;
    margin-right: .24rem;
    background: url('../../static/img/share_Wishlist.png') no-repeat center;
    background-size: cover;
    position: absolute;
    right: .24rem;
    top: .1rem;
}
.detail .intro{
    padding: .3rem .24rem;
    background: #fff;
    box-sizing: border-box;
}
.detail .intro .price{
    line-height: .32rem;
}
.detail .intro .price .sold_price{
    font-size: .32rem;
    color: @mainRed;
    margin-right: .1rem;
}
.detail .intro .price .origin_price{
    font-size: .18rem;
    text-decoration: line-through;
    color: @linkTipColor;
}
.detail .intro .price .store{
    margin-right: .24rem;
}
.detail .intro .price .store span img{
    width: .32rem;
    height: .32rem;
    vertical-align: sub;
}
.detail .intro .price .store span{
    font-size: .2rem;
}
.detail .intro .pro_name{
    margin: .3rem 0 .2rem;
}
.detail .intro .hot span{
    display: inline-block;
    max-width: 7rem;
    min-width: .3rem;
    padding: 0 .1rem;
    box-sizing: border-box;
    border: 1px solid @linkTipColor;
    color: @linkTipColor;
    height: .44rem;
    line-height: .44rem;
    margin: .1rem .1rem 0 0;
    border-radius: .08rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.guarancetee{
    height: .88rem;
    line-height: .88rem;
    background: #fff;
}
.guarancetee img{
    width: .44rem;
    height: .44rem;
    margin-left: .2rem;
}
.guarancetee span{
    color: @defaultInputColor;
}
.detail .option,.detail .review .title{
    height: .88rem;
    background: #fff;
    padding: .24rem .24rem;
    box-sizing: border-box;
}
.detail .option span,.detail .review .title span{
    color: @defaultInputColor;
}
.detail .option img,.detail .review .title span.view img{
    width: .32rem;
    height: .32rem;
}
.detail .review .title span.view{
    font-size: .18rem;
    color: @linkTipColor;
}
.detail .review ul {
    padding: .3rem .24rem;
    box-sizing: border-box;
    background: #fff;
}
.detail .review ul li{
    padding: .3rem 0;
    box-sizing: border-box;
}
.detail .review ul li div{
    position: relative;
}
.detail .review ul li div .user_avartar{
    height: .58rem;
    width: .58rem;
    margin-right: .1rem;
}
.detail .review ul li div .user_name{
    color: @linkTipColor;
    font-size: .18rem;
    margin-right: .4rem;
    display: inline-block;
    width: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: .1rem;
}
.detail .review ul li div .star img{
    width: .24rem;
    height: .24rem;
}
.detail .review ul li div .time{
    font-size: .18rem;
    position: absolute;
    right: 0;
    top: .13rem;
}
.detail .review ul li p{
    font-size: .2rem;
    color: @defaultInputColor;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2; 
    // margin:.3rem 0;
}


// common
ul li{
    list-style: none;
}
.ios .navbar ~ *:not(.no-navbar) .page-content{
    padding-top: 0;
}
._block {
    margin: .2rem 0 0;
    color: #6d6d72;
    padding: 0;
    // height: 1.82rem;
}
._block .home_discount{
    height: 1.82rem;
}
p{
    margin: 0;
}
.content {
    padding-top: .88rem;
}

.ios .icon-back, .ios .icon-prev {
    background-image: url(../../static/img/nav_btn_back.png);
    width: 100%;
    height: 100%;
}
.ios .navbar{
    height: .88rem;
}
.ios .navbar a.icon-only{
    width: .48rem;
    height: .48rem;
}
.ios .navbar-inner{
    padding: 0;
}