@public_bg:#fff;
.ios .navbar,.ios .toolbar{
    background: @public_bg;
}
.ios .tabbar-labels a.link{
    padding-top: 1px;
}
.ios .toolbar a.link {
    line-height: 4px;
}
.ios .tabbar-labels a.link i + span{
    font-size: 1rem;
}
@small:12px;
@middle:14px;
@big:16px;
@media screen and (max-width:320px ) {
    html{font-size: @small;}/*1rem=12px*/
}
@media screen and (min-width:321px) and (max-width:750px ) {
    html{font-size: @middle;}
}
@media screen and (min-width:751px ) {
    html{font-size: @big;}
}