.ios .navbar,
.ios .toolbar {
  background: #fff;
}
.ios .tabbar-labels a.link {
  padding-top: 1px;
}
.ios .toolbar a.link {
  line-height: 4px;
}
.ios .tabbar-labels a.link i + span {
  font-size: .24rem;
}
