* {
  font-size: .24rem;
}
.rt {
  float: right;
}
.lt {
  float: left;
}
.clear {
  clear: both;
}
.ios .navbar,
.ios .toolbar {
  background: #fff;
}
.ios .tabbar-labels a.link {
  padding-top: 1px;
}
.ios .toolbar a.link {
  line-height: 4px;
}
.ios .tabbar-labels a.link i + span {
  font-size: .24rem;
}
.ios .searchbar-disable-button {
  display: block;
  margin-right: -72px;
}
.ios .searchbar-inner {
  padding: 0 8px;
  overflow: hidden;
}
.searchbar-disable-button-in {
  display: block !important;
  margin-right: 0 !important;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.searchbar-disable-button-out {
  margin-right: -72px;
}
.ios .block {
  margin: 10px 0;
}
img {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide {
  height: 4rem;
  overflow: hidden;
}
.flash-banner .swiper-slide,
#activity-banner .swiper-slide {
  height: 2rem;
  overflow: hidden;
}
.product-list .row .col-50 {
  height: 3rem;
  overflow: hidden;
}
.row {
  margin: .2rem 0px;
}
.cart-list .item-media {
  height: 2rem;
  width: 20%;
}
.ios .navbar ~ *:not(.no-navbar) .page-content {
  padding-top: 30px;
}
.ios .swiper-pagination-bullet-active {
  background: #fff;
}
.statusbar-overlay {
  background: pink;
}
.ios .statusbar {
  background: pink;
}
.ios .login-screen-content .login-screen-title {
  width: 4.7rem;
  height: 1.54rem;
  margin: 1.24rem auto 2.68rem;
}
#label_name,
#label_password {
  font-size: .2rem;
  color: #A1A1A1;
  position: absolute;
}
.login_form {
  width: 6.14rem;
  margin: 0 auto;
}
.login_form > div {
  position: relative;
  padding: .1rem 0;
  box-sizing: border-box;
}
.login_tip {
  color: #EA453D;
  padding-left: .2rem;
  padding-right: .2rem;
  font-size: .2rem;
}
.ios .login_form input[type="text"],
.ios .login_form input[type="password"] {
  font-size: .24rem;
  height: .52rem;
  width: 100%;
  color: #1B1B1B;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #1B1B1B;
}
.ios .login_form .item-input-wrap {
  margin: 0;
}
.ios .login_form img {
  width: .32rem;
  height: .32rem;
  position: absolute;
  right: .12rem;
  bottom: .05rem;
}
.forget_link {
  width: 6.14rem;
  margin: .2rem auto;
  text-align: right;
  padding-right: .2rem;
}
.forget_link a span {
  color: #707070;
  font-size: .2rem;
}
li#sign_in a {
  width: 6rem;
  height: 0.8rem;
  background: #EA453D;
  line-height: 0.8rem;
  color: #fff;
  font-size: 0.24rem;
  margin: 1rem auto .4rem;
  padding: 0;
}
.way_tip span {
  display: inline-block;
  width: 30%;
  height: 1px;
  background: #707070;
  position: relative;
  top: 0.2rem;
}
p.way_tip {
  width: 6rem;
  margin: 0 auto;
}
.login-screen-content .list {
  width: auto;
}
.login-screen-content .login-screen-title,
.login-screen-content .list,
.login-screen-content .block,
.login-screen-content .block-footer,
.login-screen-content .block-header {
  max-width: unset;
}
.block-footer p:first-child:last-child {
  color: #707070;
  font-size: 0.24rem;
  margin-bottom: .3rem;
}
.login_way_box img {
  width: .8rem;
  height: .8rem;
  margin: .3rem .3rem .6rem;
}
.new_customer_link {
  color: #707070;
  font-size: 0.24rem;
}
.new_customer_link a span {
  color: #EA453D;
}
div#register-screen .page-content {
  background: #fff;
  position: relative;
}
.re_head {
  position: absolute;
  top: 0;
  left: 0;
  background: #EA453D;
  color: #fff;
  text-align: center;
  font-size: .32rem;
  width: 100%;
  height: .88rem;
  line-height: .88rem;
}
.re_head img {
  width: .48rem;
  height: .48rem;
  position: absolute;
  left: .1rem;
  bottom: .18rem;
}
.re_body {
  width: 6rem;
  margin: 0 auto;
}
.re_input {
  margin: 1.6rem 0 1.2rem;
}
.re_input > div {
  margin: .2rem 0;
  position: relative;
}
.re_input > div > div {
  position: relative;
}
.re_input > div input {
  width: 100%;
  margin: .2rem 0 .1rem;
  color: #1B1B1B;
  font-size: .24rem;
  height: .52rem;
  border-bottom: 1px solid #707070;
}
.re_input > div span {
  font-size: .2rem;
  color: #A1A1A1;
}
.re_input > div img {
  width: .32rem;
  height: .32rem;
  position: absolute;
  bottom: .03rem;
  right: .08rem;
}
.re_input > div p {
  font-size: .2rem;
  color: #EA453D;
  margin: 0;
}
.re_bottom .re-complete {
  display: block;
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  margin-bottom: 1.1rem;
  font-size: .24rem;
  background: #EA453D;
}
.re_bottom .re-complete span {
  color: #fff;
}
.re_bottom > div {
  font-size: .24rem;
  color: #1B1B1B;
  text-align: center;
}
.re_bottom a span {
  color: #EA453D;
}
.tip {
  width: 4.56rem;
  height: 1.2rem;
  background: rgba(27, 27, 27, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20000;
  border-radius: .1rem;
  padding: .2rem;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
.tip .text {
  color: #fff;
  font-size: .24rem;
  text-align: center;
  margin-top: .1rem;
}
.rp_nav {
  background: #EA453D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: .88rem;
  color: #fff;
  text-align: center;
  line-height: .88rem;
  font-size: .24rem;
}
.rp_nav a {
  display: inline-block;
  width: .48rem;
  height: .48rem;
  position: absolute;
  bottom: .18rem;
  left: .1rem;
  background: url('../../static/img/nav_btn_back.png');
  background-size: cover;
}
.rp_body {
  background: #fff;
  overflow: auto;
  height: 100%;
}
.rp_bottom {
  width: 6rem;
  margin: 0 auto;
}
.rp_bottom > div {
  margin: .2rem 0;
  position: relative;
}
.rp_bottom > div span {
  color: #A1A1A1;
}
.rp_bottom > div div div {
  width: 3rem;
  position: relative;
}
.rp_bottom > div div img {
  width: .28rem;
  height: .28rem;
  position: absolute;
  right: .1rem;
  bottom: .1rem;
}
.rp_bottom > div > div {
  border-bottom: 1px solid #1B1B1B;
  margin-top: .2rem;
  position: relative;
}
.rp_bottom > div > div input {
  width: 100%;
  display: inline-block;
  margin-bottom: .1rem;
}
.rp_bottom > div > div input.rp_code_input {
  width: 3rem;
}
.rp_bottom > div span.rp_send {
  display: inline-block;
  width: 2.1rem;
  height: .52rem;
  background: #EA453D;
  color: #fff;
  text-align: center;
  line-height: .52rem;
  position: absolute;
  right: 0;
  bottom: .1rem;
  font-size: .2rem;
}
.rp_submit {
  width: 6rem;
  height: .8rem;
  background: #EA453D;
  color: #fff !important;
  margin: 1rem auto 0;
  display: inline-block;
  text-align: center;
  line-height: .8rem;
}
.rp_phone {
  margin-top: 1.2rem;
}
.search {
  width: 7rem;
  height: .56rem;
  margin: 0 auto;
  border-radius: .28rem;
  background: #E9E9E9;
  text-align: center;
  line-height: .56rem;
}
.search input {
  width: 30%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.search img {
  width: 4%;
  height: .28rem;
  vertical-align: sub;
}
.ios .icon-back,
.ios .icon-prev {
  background-image: url(../../static/img/nav_btn_back.png);
  width: 100%;
  height: 100%;
}
.ios .navbar {
  height: .88rem;
}
.ios .navbar a.icon-only {
  width: .48rem;
  height: .48rem;
}
.ios .navbar-inner {
  padding: 0;
}
